
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background: linear-gradient(to bottom, #3a7bd5, #00d2ff);
      min-height: 100vh;
      margin: 0;
    }
    .todo-container {
      max-width: 500px;
      margin: 20px auto; /*가운데 정렬*/
      background: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 6px 9px #555555;
      /*offsex x , offsex y , blur, spread, color*/
    }
    ul {    /*할 일을 담는 리스트 ul 태그*/
      list-style-type: none;
      padding: 0; /*안쪽 여백 영역*/
    }
    li { /*할 일 항목의 스타일 지정*/
      padding: 10px;
      margin: 5px 0;
      background-color: #f4f4f4;
      display: flex; /*내부 요소를 가로로 배치*/
      justify-content: space-between; /*양쪽 끝에 요소를 배치*/
      align-items: center; /*세로로 중앙 정렬*/
    }
    button {
      margin-left: 5px;
    }
    .priority {
      color: red;
      font-weight: bold;
    }
    .task-number{
        font-weight: bold;
        margin-right: 10px;
    }
