h1 {
    color: darkblue;
    text-shadow: 4px 2px 1px lightblue;
}

input {
    width: 500px;
    height: 50px;
    background-color: lightcyan;
    border: 1px lightgray solid;
    border-radius: 30px;
    padding-left: 20px;
}

input:focus {
    outline: none;
}

.content-add {
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 40px;
}

.content-add:hover {
    background-color: lightblue;
}

.content-add:active {
    box-shadow: inset darkblue 2px 2px 4px;
}